.channel-container{
    display: flex;
    justify-content: center;
    min-height: 50px;
    height:7vh;
    border: 2px solid black;
    margin-left: 25px;
    width: 1000px;
}

.channel-track-name{
    align-self: center;
}

